
.App{

}

.logo{
    display: flex;
    justify-content: flex-start;
    margin-left: 190px;
}

header{
    background: url(main.jpg) no-repeat center top / cover;
    height: 100vh;
}

nav{
    margin-right: 130px;
    /*margin-top: 0;*/
}

nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav li{
    list-style: none;
    margin-right: 45px;
}

nav a{
     color: #000000;
     text-transform: uppercase;
     text-decoration: none;
     font-size: 14px;
 }

nav a:hover,active{
    text-decoration: none;
    color: #000000;
}

nav ul li:last-child{
    border-left: 2px solid #ccc;
    margin-left: 5px;
    padding-left: 90px;
}